.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /* ниже модального окна, но выше контента */
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%); /* затемнение фона */
}
