.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
  color: var(--text-primary-color);
}

.lockedItem {
  margin-left: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 420px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.orderRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
