.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 720px;
  padding: 40px 40px 60px;
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.closeBtn svg {
  width: 24px;
  height: 24px;
}
