.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section h2 {
  margin-top: 40px;
  margin-bottom: 24px;
}

.listContainer {
  height: 716px;
  padding-right: 8px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
